<div class="ui fluid card ">
    <div class="content">
        <span class="ui red ribbon label">{{ menu.price }} €</span>
        <a href="{{ path('menu_show', {id: menu.id}) }}" class="header text-center">{{ menu.title }}</a>
    </div>
    <div class="blurring dimmable image">
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                    <a href="{{ path('menu_show', {id: menu.id}) }}" class="ui red inverted button">View</a>
                </div>
            </div>
        </div>
        <div class="slider">
            {% for dish in menu.dishes %}
                <div>
                    <img class="list-image" src="{{ asset('img/uploads/' ~ dish.image) }}">
                </div>
            {% endfor %}
        </div>
    </div>
</div>