{% extends 'base.html.twig' %}

{% block body %}
    {{ breadcrumb({'home': 'home', 'admin_index': 'admin', 'admin_dish_index': 'dish', 'admin_dish_show': [dish.title, {id: dish.id}]}) }}

    <h1 class="ui horizontal header divider">Dish</h1>

    <table class="ui definition table">
        <tbody>
        <tr>
            <td>Id</td>
            <td>{{ dish.id }}</td>
        </tr>
        <tr>
            <td>Image</td>
            <td><img class="ui image small" src="{{ asset('img/uploads/' ~ dish.image) }}" /></td>
        </tr>
        <tr>
            <td>Title</td>
            <td>{{ dish.title }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ dish.description }}</td>
        </tr>
        <tr>
            <td>Author</td>
            <td>{{ dish.author }}</td>
        </tr>
        <tr>
            <td>Price</td>
            <td>{{ dish.price }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ dish.statusName }}</td>
        </tr>
        <tr>
            <td>Category</td>
            <td>{{ dish.categoryName }}</td>
        </tr>
        <tr>
            <td>Homemade</td>
            <td>{% if dish.homeMade %}Yes{% else %}No{% endif %}</td>
        </tr>
        </tbody>
    </table>
    {% if is_granted('ROLE_EDITOR') %}
        <a class="ui left floated button inverted orange" href="{{ path('admin_dish_edit', { 'id': dish.id }) }}">Edit</a>
    {% endif %}
    {% if is_granted('ROLE_CHEF') %}
        {{ form_start(delete_form) }}
            <input class="ui left floated button inverted red" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}
