{% extends 'base.html.twig' %}

{% block body %}
    {{ breadcrumb({ 'home': 'home', 'admin_index': 'admin', 'admin_menu_index': 'menu', 'admin_menu_edit': ['edit', {'id': menu.id}]}) }}
    <h1>Menu edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_menu_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
