{% extends 'base.html.twig' %}

{% block body %}
    {{ breadcrumb({ 'home': 'home', 'admin_index': 'admin', 'admin_menu_index': 'menu', 'admin_menu_new': 'new'}) }}

    <h1>Menu creation</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.price) }}
        {{ form_row(form.appearanceOrder) }}
        {{ form_row(form.status) }}
        {{ form_row(form.dishes, { 'attr': {'class': 'ui fluid dropdown'} }) }}
        <input class="ui button green inverted" type="submit" value="Create" />
    {{ form_end(form) }}
{% endblock %}
