{% extends 'base.html.twig' %}

{% block body %}
    {{ breadcrumb({ 'home': 'home', 'admin_index': 'admin', 'admin_user_index': 'users', 'admin_user_show': [user.username, {id: user.id}], 'admin_user_edit': ['edit', {'id': user.id}]}) }}

    <h1>User edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
        <input class="ui left floated button inverted orange" type="submit" value="Edit"/>
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        <input class="ui left floated button inverted red" type="submit" value="Delete">
    {{ form_end(delete_form) }}

{% endblock %}
