{% extends 'base.html.twig' %}

{% block body %}
    {{ breadcrumb({ 'home': 'home', 'admin_index': 'admin', 'admin_user_index': 'users'}) }}

    <h1 class="ui horizontal header divider">Users</h1>

    <table class="ui table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('admin_user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.roles %}{{ user.roleNames|join(', ') }}{% endif %}</td>
                <td>
                    <a class="ui button inverted blue icon" data-tooltip="View" data-inverted="" href="{{ path('admin_user_show', { 'id': user.id }) }}"><i class="icon unhide"></i></a>
                    {% if is_granted('ROLE_CHEF') %}
                        <a class="ui button inverted orange icon" data-tooltip="Edit" data-inverted="" href="{{ path('admin_user_edit', { 'id': user.id }) }}"><i class="icon edit"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'DamDanAdminBundle:pagination:pagination.html.twig' with {'paginator': users} %}
    {% if is_granted('ROLE_CHEF') %}
        <a class="ui button inverted green" href="{{ path('admin_user_new') }}"><i class="icon plus"></i> New</a>
    {% endif %}
{% endblock %}
