{% extends 'base.html.twig' %}

{% block body %}
    <h1>Menus list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Price</th>
                <th>Appearanceorder</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td><a href="{{ path('menu_show', { 'id': menu.id }) }}">{{ menu.id }}</a></td>
                <td>{{ menu.title }}</td>
                <td>{{ menu.price }}</td>
                <td>{{ menu.appearanceOrder }}</td>
                <td>{{ menu.status }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('menu_show', { 'id': menu.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('menu_edit', { 'id': menu.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('menu_new') }}">Create a new menu</a>
        </li>
    </ul>
{% endblock %}
